
<!DOCTYPE html>
<html>
<head>
    <title>Corvette Racing Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="dashboard">
        <h1>Corvette Racing Dashboard</h1>
        <div class="gauge">
            <div class="needle" id="speed-needle"></div>
            <div class="center-circle">SPEED</div>
        </div>
        <div class="bars">
            <div>Gas: <span id="gas">0</span>%</div>
            <div>Brake: <span id="brake">0</span>%</div>
            <div>Steering: <span id="steering">0</span></div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
